// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

.container {
  padding: 3rem 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 1rem;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  color: white;

  &:hover {
    color: lightcoral;
  }
}